{% extends "base.html" %}

{% block head %}

<title>H-EAPR All Medicines</title>

{% endblock %}

{% block body %}
<section class="page-title bg-3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg">All Medicines</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section department-single">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title subscribe-form text-lg-right mt-5 mt-lg-0">
                    <form action="/allmedicines/" method = "POST" class="subscribe"> {% csrf_token %}
                        <input type="text" name = "search" class="form-control" placeholder="Search here ..">
                        <a href="#" class="btn btn-main-2 btn-round-full">Search</a>
                    </form>
                </div>
            </div>
        </div>

        {% for meds in medicines %}
        <div class="row  justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="department-content sidebars-widget schedules-widget mt-5">
                    <h5 class="text-md">{{meds.name}}</h5>
                    <div class="divider mx-auto my-4"></div>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Price&nbsp;:&nbsp;&nbsp;</a>
                            <span>Rs {{meds.price}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Brand&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.brand}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Side Effects&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.side_effects}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Description&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.description}}</span>
                        </li>
                    </ul>
                </div>
                <div class="my-4">
                    <input type="button" class="btn btn-main" value="View Details" id='add_meds' onclick="location.href='/medicine/{{meds.code}}'">
                    <br><br>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</section>
{% endblock %}
