{% extends "base.html" %}

{% block head %}

<title>H-EAPR Doctor Information</title>

{% endblock %}

{% block body%}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<h1 class="text-capitalize mb-5 text-lg">Doctor</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section department-single">
	<div class="container">

		<div class="row">
			<div class="col-lg-6">
				<div class="department-content sidebars-widget schedules-widget mt-5">
					<h5 class="text-md">My Personal Info</h5>
					<div class="divider my-4"></div>
					<ul class="list-unstyled">
						<li class="d-flex justify-content-between align-items-center">
							<a>Unique ID&nbsp;:&nbsp;&nbsp;</a>
							<span style="float:right;">{{doctor_info.doctor_id}}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a>Name&nbsp;:&nbsp;&nbsp;</a>
							<span>{{doctor_info.doctor_name}}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a>Department&nbsp;:&nbsp;&nbsp;</a>
							<span>{{doctor_info.department}}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a>Contact&nbsp;:&nbsp;&nbsp;</a>
							<span>{{doctor_info.phone_num}}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a>Email&nbsp;:&nbsp;&nbsp;</a>
							<span>{{doctor_info.email}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="department-content sidebars-widget schedules-widget mt-5">
					<h5 class="text-md">My Patient's Prescription History</h5>
					<div class="divider my-4"></div>
				</div>
				{% for prescription in data.prescriptions %}
				<br>
				<h5 class="my-2"">&nbsp;Prescription</h5>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td colspan="2">Prescription ID : </td>
							<td colspan="2">{{prescription.prescription_id}}</td>

						</tr>
						<tr>
							<td>Patient Name : </td>
							<td>{{prescription.patient_id}}</td>
							<td>Doctor Name : </td>
							<td>{{prescription.doctor_id}}</td>
						</tr>
						<tr>
							<td>Date : </td>
							<td>{{prescription.date}}</td>
							<td>Next Visit : </td>
							<td>{{prescription.nextVisit }}</td>
						</tr>
						<tr>
							<td colspan="1">Reason : </td>
							<td colspan="5">{{prescription.reason}}</td>
						</tr>
						<tr>
							<td colspan="1">Doctor Notes : </td>
							<td colspan="5">{{prescription.doctors_notes }}</td>
						</tr>
					</thead>
				</table>
				
				<form action="/prescription/{{prescription.prescription_id}}" method="post"> {% csrf_token %}
					<button type="submit" name="prescription{{prescription_id}}" value="prescription{{prescription_id}}" class="btn btn-main">View</button>
					<br>
				</form>
				{% endfor %}		
			</div>
		</div>

	</div>
</section>

{% endblock %}