{% extends "base.html" %}

{% block head %}

<title>H-EAPR Prescription Details</title>

{% endblock %}

{% block body %}

<section class="page-title bg-3">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Care Department</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section service-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Prescription Details</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td colspan="2">Prescription ID : </td>
                <td colspan="2">{{prescription_details.prescription_id}}</td>
              </tr>
              <tr>
                <td>Patient Name : </td>
                <td>{{prescription_details.patient_id}}</td>
                <td>Doctor Name : </td>
                <td>{{prescription_details.doctor_id}}</td>
              </tr>
              <tr>
                <td>Date : </td>
                <td>{{prescription_details.date}}</td>
                <td>Next Visit : </td>
                <td>{{prescription_details.nextVisit }}</td>
              </tr>
              <tr>
                <td colspan="1">Reason : </td>
                <td colspan="5">{{prescription_details.reason}}</td>
              </tr>
              <tr>
                <td colspan="1">Doctor Notes : </td>
                <td colspan="5">{{prescription_details.doctors_notes }}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      {% for data in medication_data %}
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Medication Order</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Medication Name : </td>
                <td>{{data.medication_order.medicine_code}}</tdn=>
                <td>Medication Unit : </td>
                <td>{{data.medication_order.medication_unit}}</tdcolspan=>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Medication Timing</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Morning : </td>
                <td>{{data.med_timing.morning}}</td>
              </tr>
              <tr>
                <td>Afternoon : </td>
                <td>{{data.med_timing.afternoon}}</td>
              </tr>
              <tr>
                <td>Evening : </td>
                <td>{{data.med_timing.evening}}</td>
              </tr>
              <tr>
                <td>Night : </td>
                <td>{{data.med_timing.night}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Repitition</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Start Date : {{data.repetation.start_date}}</td>
                <td>End Date : {{data.repetation.end_date}}</td>
              </tr>
              <tr>
                <td>Repetation Interval : </td>
                <td>{{data.repetation.repetation_interval}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Authorisation Details</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Repeats Allowed : </td>
                <td>{{data.authorization.number_of_repeats_allowed}}</td>
              </tr>
              <tr>
                <td>Validity Period : </td>
                <td>{{data.authorization.validity_period}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Medication Details</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td colspan="2">Name of medicine : </td>
                <td colspan="2">{{data.medicine_details.name}}</td>
              </tr>
              <tr>
              <tr>
                <td colspan="1">Price : </td>
                <td colspan="1">{{data.medicine_details.price}}</td>
                <td>Brand : </td>
                <td>{{data.medicine_details.brand}}</td>
              </tr>
              </tr>
              <tr>
                <td colspan="2">Side Effects : </td>
                <td colspan="2">{{data.medicine_details.side_effects}}</td>
              </tr>
              <tr>
                <td colspan="2">Description : </td>
                <td colspan="2">{{data.medicine_details.description}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <div class="my-4"></div>
          <h3 class="mb-2">Medication Safety</h3>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="depatment-block mb-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Dose Period : </td>
                <td>{{data.med_safety.max_dose_per_period}}</td>
              </tr>
              <tr>
                <td>Override reason: </td>
                <td>{{data.med_safety.override_reason}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
