{% extends "base.html" %}

{% block head %}

<title>H-EAPR Doctor Homepage</title>

{% endblock %}

{% block body %}
{% load static %}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<h1 class="text-capitalize mb-5 text-lg">Doctor</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section doctors">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h5 class="text-md">Your Dashboard</h5>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>

		<div class="col-12 text-center  mb-5">
			<div data-toggle="buttons">

				<div class="btn">
					<input type="button" class="btn btn-main" value="All Registered Patients" id='add_meds' onclick="location.href='/allpatients'">
				</div>

				<div class="btn">
					<input type="button" class="btn btn-main" value="All Medicines" id='add_meds' onclick="location.href='/allmedicines'">
				</div>

				<div class="btn">
					<form action='/doctor/info' action="POST">
						<input type="button" class="btn btn-main" value="My Profile" id='add_meds' onclick="location.href='/doctor/info'">
					</form>
				</div>

				<div class="btn">
					<form action='/doctor/info' action="POST">
						<input type="button" class="btn btn-main" value="Prescribe a Patient" id='add_meds' onclick="location.href='/prescription/add'">
					</form>
				</div>

			</div>
		</div>
		<h3 class="text-center">Patient Engagement</h3>
		<img src="{% static 'images/dochome_graph_label.png' %}" alt="" class="mx-auto d-block img-fluid" height="50px" width="100px">
		<img src="data:image/png;base64, {{preschart|safe}}" alt="Image not loaded" class="mx-auto d-block img-fluid">
	</div>
</section>

{% endblock %}