{% extends "base.html" %}

{% block head %}

<title>H-EAPR Medicine Information</title>

{% endblock %}

{% block body %}

<section class="page-title bg-3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg">Medicine Information</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section department-single">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="department-content sidebars-widget schedules-widget mt-5">
                    <h5 class="text-md">{{meds.name}}</h5>
                    <div class="divider my-4"></div>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Price&nbsp;:&nbsp;&nbsp;</a>
                            <span>Rs {{meds.price}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Brand&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.brand}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Side Effects&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.side_effects}}</span>
                        </li>
                        <br>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Description&nbsp;:&nbsp;&nbsp;</a>
                            <span>{{meds.description}}</span>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg-4">
                <div class="sidebar-widget schedule-widget mt-5">
                    <h5 class="mb-4 text-md">Composition</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Medicine Salt</a>
                            <span>{{prep.substance_name}}</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Salt State</a>
                            <span>{{prep.form}}</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <a>Salt Quantity</a>
                            <span>{{prep.strength_unit}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
