{% extends "base.html" %}

{% block head %}

<title>H-EAPR Patient Information</title>

{% endblock %}

{% block body%}

	<section class="page-title bg-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block text-center">
						<h1 class="text-capitalize mb-5 text-lg">Patient</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section department-single">
		<div class="container">
			<div class="row">

				<div class="col-lg-6">
					<div class="department-content sidebars-widget schedules-widget mt-5">
						<h5 class="text-md">Details</h5>
						<div class="divider my-4"></div>
						<ul class="list-unstyled">
							<li class="d-flex justify-content-between align-items-center">
								<a>Unique ID&nbsp;:&nbsp;&nbsp;</a>
								<span style="float:right;">{{patient_info.patient_id}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Name&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.patient_name}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Gender&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.gender}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Date of Birth&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.dob}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Contact&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.phone_num}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Email&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.email}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Relative Name&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.patient_relative_name}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Relative Contact&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.patient_relative_contact}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Address&nbsp;:&nbsp;&nbsp;</a>
								<span>{{patient_info.resd_address}}</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2"></div>

				<div class="col-lg-4">
					<div class="sidebar-widget schedule-widget mt-5">
						<h5 class="mb-4 text-md">Medical Info</h5>

						<ul class="list-unstyled">
							<li class="d-flex justify-content-between align-items-center">
								<a>Height</a>
								<span>{{pat_med_info.height}} ft</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Weight</a>
								<span>{{pat_med_info.weight}} kg</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Blood Type</a>
								<span>{{pat_med_info.bloodType}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Allergy</a>
								<span>{{pat_med_info.allergy}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Alzheimer</a>
								<span>{{pat_med_info.alzheimer}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Asthama</a>
								<span>{{pat_med_info.asthma}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Diabetes</a>
								<span>{{pat_med_info.diabetes}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Stroke</a>
								<span>{{pat_med_info.stroke}}</span>
							</li>
						</ul>

					</div>
				</div>

			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<div class="department-content sidebars-widget schedules-widget mt-5">
						<h5 class="text-md">Prescription History</h5>
						<div class="divider my-4"></div>
					</div>
					{% for prescription in data.prescriptions %}
					
					<h5 class="my-2">&nbsp;Prescription</h5>
					<table class="table table-bordered">
						<thead>
							<tr>
								<td colspan="2">Prescription ID : </td>
								<td colspan="2">{{prescription.prescription_id}}</td>
							</tr>
							<tr>
								<td>Patient Name : </td>
								<td>{{prescription.patient_id}}</td>
								<td>Doctor Name : </td>
								<td>{{prescription.doctor_id}}</td>
							</tr>
							<tr>
								<td>Date : </td>
								<td>{{prescription.date}}</td>
								<td>Next Visit : </td>
								<td>{{prescription.nextVisit }}</td>
							</tr>
							<tr>
								<td colspan="1">Reason : </td>
								<td colspan="5">{{prescription.reason}}</td>
							</tr>
							<tr>
								<td colspan="1">Doctor Notes : </td>
								<td colspan="5">{{prescription.doctors_notes }}</td>
							</tr>
						</thead>
					</table>
				
					<form action="/prescription/{{prescription.prescription_id}}" method="post"> {% csrf_token %}
						<button type="submit" name="prescription{{prescription_id}}" value="prescription{{prescription_id}}" class="btn btn-main">View</button>
						<br>
					</form>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>

{% endblock %}