{% extends "base.html" %}
{% block head %}

	<title>H-EAPR</title>

	<!-- Favicon -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" /> -->

	<!-- bootstrap.min css -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->

	<!-- Main Stylesheet -->
	<!-- <link rel="stylesheet" href="css/style.css"> -->

{% endblock %}

{% block body%}
	<div id="top">
		


		<section class="page-title bg-2">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
				<div class="col-md-12">
					<div class="block text-center">
					<h1 class="text-capitalize mb-5 text-lg">Patient Information</h1>
					</div>
				</div>
				</div>
			</div>
		</section>


		<section class="section department-single">
			<div class="container">

				<div class="row">
					<div class="col-lg-6">
						<div class="department-content sidebars-widget schedules-widget mt-5">
							<h5 class="text-md">Patient Details</h5>
							<div class="divider my-4"></div>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between align-items-center">
									<a>Unique ID&nbsp;:&nbsp;&nbsp;</a>
									<span style="float:right;">{{patient_info.patient_id}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Name&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.patient_name}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Gender&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.gender}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Date of Birth&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.dob}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Contact&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.phone_num}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Email&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.email}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Relative Name&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.patient_relative_name}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Relative Contact&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.patient_relative_contact}}</span>
								</li>
								<li class="d-flex justify-content-between align-items-center">
									<a>Address&nbsp;:&nbsp;&nbsp;</a>
									<span>{{patient_info.resd_address}}</span>
								</li>
							</ul>
							<br>
							<h5 class="text-md">Medical History</h5>
							<div class="divider my-4"></div>
							<p>Prescriptions to be added here!</p>


						</div>
					</div>

					<div class="col-lg-2">

					</div>


					<div class="col-lg-4">
						<div class="sidebar-widget schedule-widget mt-5">
							<h5 class="mb-4 text-md">Medical Info</h5>

							<ul class="list-unstyled">
							<li class="d-flex justify-content-between align-items-center">
								<a>Height</a>
								<span>{{pat_med_info.height}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Weight</a>
								<span>{{pat_med_info.weight}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Blood Type</a>
								<span>{{pat_med_info.bloodType}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Allergy</a>
								<span>{{pat_med_info.allergy}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Alzheimer</a>
								<span>{{pat_med_info.alzheimer}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Asthama</a>
								<span>{{pat_med_info.asthma}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Diabetes</a>
								<span>{{pat_med_info.diabetes}}</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a>Stroke</a>
								<span>{{pat_med_info.stroke}}</span>
							</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</section>
    </div>


		

		<!-- 
		Essential Scripts
		=====================================-->


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

{% endblock %}