{% extends "base.html" %}

{% block head %}

<title>H-EAPR</title>

{% endblock %}

{% block body %}

{% load static %}

<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
					<h1 class="mb-3 mt-3">Your most trusted health partner</h1>
					
					<p class="mb-4 pr-5"></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					
					
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Medical History</span>
						<h4 class="mb-3">Records On-Demand</h4>
						<p>View all your previous medical records and prescriptions at the comfort of your home with the use of H-EAPR</p>
					</div>
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 Hours Service</span>
						<h4 class="mb-3">On-Demand Doctors</h4>
						<p class="mb-4">Peek into our industry leading professional doctors on demand</p>
						<a href='/alldoctors' class="btn btn-main btn-round-full" >View Doctors</a>
					</div>
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Medicine Schedule</span>
						<h4 class="mb-3">Prescriptions</h4>
						<p class="mb-4">View your prescriptions and be on top of your health by taking your medicines on time</p>
						<!-- <a href="#" class="btn btn-main btn-round-full">View Prescription</a> -->
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="{% static 'images/about/img-1.jpg' %}" alt="" class="img-fluid">
					<img src="{% static 'images/about/img-2.jpg' %}" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="{% static 'images/about/img-3.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5">We provide best leading medicle services from the edge of keeping a tract of your medication history to being on top of your ongoing precriptions. We got you covered.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Counter Option -->
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">{{pat_count}}</span>
						<p>Patient Count</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">{{pres_count}}</span>
						<p>Prescriptions made</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">{{doc_count}}</span>
						<p>Expert Doctors</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">{{med_count}}</span>
						<p>Medicines Registered</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div style>
		<h1 class="text-center text-capitalize mb-5 my-4 text-lg">User Engagement</h1>
		<img src="{% static 'images/home_graph_label.png' %}" alt="" class="mx-auto d-block img-fluid" height="50px" width="100px">
		<img src="data:image/png;base64, {{chart|safe}}" alt="Image not loaded" class="mx-auto d-block img-fluid">
	</div>
</section>
<!-- Counter option ends here-->

<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Lets know more about the various services we offer to you in colaboration with our award winning doctors on site.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Laboratory services</h4>
					</div>

					<div class="content">
						<p class="mb-4">Be on top of your health by getting yourself a full body checkup and more.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Heart Disease</h4>
					</div>
					<div class="content">
						<p class="mb-4">Keep your heart in top shape. Meet one of our expert cardiologist today.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Dental Care</h4>
					</div>
					<div class="content">
						<p class="mb-4">Secure your most confident smile by visiting one of our dentists today.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Body Surgery</h4>
					</div>

					<div class="content">
						<p class="mb-4">Your health is our our topmost priority and you deserve the best for your body.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Neurology Surgery</h4>
					</div>
					<div class="content">
						<p class="mb-4">Class leading neuro surgeons to keep your nerves in top shape.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Gynaecology</h4>
					</div>
					<div class="content">
						<p class="mb-4">Welcome your new life into the world with our experienced gynaecologists.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
   
