{% block nav %}
{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navigation" id="navbar">
    
    <div class="container">
      {% if disable %}
        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
      {% else %}
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
      </a>
      {% endif %}
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
        aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icofont-navigation-menu"></span>
      </button>
      {% if not disable %}

      <div class="collapse navbar-collapse" id="navbarmain">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            {% if usertype == 'patient'%}
            <a class="nav-link" href="/patient">Home</a>
            {% elif usertype == 'doctor'%}
            <a class="nav-link" href="/doctor">Home</a>
            {% else %}
            <a class="nav-link" href="/">Home</a>
            {% endif %}
          </li>

          {% if usertype == 'patient'%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{username}} <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="/patient/info">My Profile</a></li>
              <li><a class="dropdown-item" href="/alldoctors">All Doctors</a></li>
              <li><a class="dropdown-item" href="/patient/update/info">Update Profile</a></li>
              <li><a class="dropdown-item" href="/patient/update/medicalinfo">Update Medical Info</a></li>
              <li><a class="dropdown-item" href="/doctor/register">Logout</a></li>
            </ul>
          </li>

            {% elif usertype == 'doctor'%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{username}} <i class="icofont-thin-down"></i></a>
              <ul class="dropdown-menu" aria-labelledby="dropdown02">
                <li><a class="dropdown-item" href="/doctor/info">Profile</a></li>
                <li><a class="dropdown-item" href="/allpatients">Patients</a></li>
                <li><a class="dropdown-item" href="/allmedicines">Medicines</a></li>
                <li><a class="dropdown-item" href="/prescription/add">Prescribe a patient</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>

            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Patient<i class="icofont-thin-down"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                  <li><a class="dropdown-item" href="/login">Sign In</a></li>
                  <li><a class="dropdown-item" href="/patient/register">Sign Up</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Doctor <i class="icofont-thin-down"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                  <li><a class="dropdown-item" href="/login">Sign In</a></li>
                  <li><a class="dropdown-item" href="/doctor/register">Sign Up</a></li>
                </ul>
              </li>
            {% endif %}
              
            {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endblock %}